@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 8pt;
  }




  @page {
  size: A4 landscape;
  margin-top: 5mm;
  margin-bottom: 5mm;
  margin-left: 5mm;
  margin-right: 5mm;
  margin-right: 5mm;
 
}





.navino {
  break-before: page;
}

